<html lang="en" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>
  <body ng-app="ChaayWaayApp" ng-cloak>
    <div ng-controller="DemoCtrl">
      <md-sidenav md-component-id="left" class="md-sidenav-left">
        <li><a ui-sref="home"><md-icon md-svg-icon="img/icons/home.svg"></md-icon>Home</a></li>
      </md-sidenav>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="openLeftMenu()" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2 md-truncate><b>Business Details</b></h2>
        </div>
      </md-toolbar>
      <div layout="row">
        <md-input-container flex="100">
          <label>Provide</label>
          <md-select ng-model="provide">
            <md-option  value="Product">Product</md-option>
            <md-option  value="Service">Service</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" >
        <md-input-container style="margin-right: 5px;" flex="100">
          <label>Type</label>
          <md-select ng-model="type">
            <md-option  value="Vegitables">Vegitables</md-option>
            <md-option  value="Medical">Medical</md-option>
            <md-option  value="Hardware">Hardware</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" >
        <md-input-container flex="100">
          <label>Delivery</label>
          <md-select ng-model="delivery">
            <md-option  value="Home">Home</md-option>
            <md-option  value="Pickup">Pickup</md-option>
            <md-option  value="Thirdparty">Third party</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="100">
          <label>Weekly Off</label>
          <md-select ng-model="selectedDays" multiple>
            <md-optgroup label="days">
              <md-option  ng-repeat="day in days" ng-value="day">{{day}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" >
        <md-input-container flex="100">
          <label>Working Hours</label>
          <md-select ng-model="workingHours">
            <md-option  value="morning">8 AM - 4 PM</md-option>
            <md-option  value="afternoon">10 AM - 6 PM</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container  flex="100">
          <label>Logo</label>
          <md-button  id="uploadButton" class="md-raised sm-button-primary" style="margin-left:50px">Browse </md-button>
        </md-input-container>
      </div>
      <div layout="row">
       <md-input-container  flex="50">
          <label>Payment Type</label>
       </md-input-container>
      </div>
      <div layout="row">
        <md-input-container  flex="50">
          <md-checkbox>Card</md-checkbox>
          <md-checkbox>Cash on delivery</md-checkbox>
        </md-input-container>
      </div>
      <!--<div layout="row" layout-align="center center">
        <md-input-container  flex="50">
            <md-checkbox>Card</md-checkbox>
            <md-checkbox>Cash on delivery</md-checkbox>-->
          <!--<md-select ng-model="paymentType">
            <md-option  value="Credit">Credit</md-option>
            <md-option  value="Cash">Cash on delivery</md-option>
          </md-select>
        </md-input-container>
      </div>  -->
      <md-input-container class="md-block">
        <div layout="row">
          <md-button class=" md-primary  md-raised  md-hue-2" aria-label="Settings">Save </md-button>
          <md-button class="md-warn md-raised ">Clear</md-button>
        </div>
      </md-input-container>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="scripts/chaaywaay.js"></script>
  </body>
</html>