   div{
                 text-align: left;
                 margin-left: auto;
                 margin-right: auto;
                 padding: 8px;
             }
    header{

        color:springgreen;
        text-align: center;
        background-color: palevioletred
    }
    body{
      background-color:sandybrown;
      margin: 50px; 
      border: solid; 
      background-image: url("cat.gif");
      background-position: center;
      background-repeat: no-repeat;
            }  
      
       label{
        margin-left: 10px;
        margin-right: 10px;
        color: darkblue;
         }
         input{
             padding: 2px;
        margin: 10px;
        margin-bottom: 5px;
       }