<!--<!DOCTYPE html>-->
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="ChaayWaayApp"  ng-cloak>
  <a href="customerOrderView.html" >go to </a>
  <div ng-controller="DemoCtrl">
    <md-sidenav md-component-id="left" class="md-sidenav-left">
      <li><a ui-sref="home">Home</a></li>
    </md-sidenav>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="openLeftMenu()" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2 flex md-truncate>Vender Registration</h2>
        <!--<md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>-->
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <md-input-container class="md-icon-float md-block">
        <label>Name</label>
        <md-icon md-svg-src="img/icons/person.svg" class="name"></md-icon>
        <input ng-model="user.name">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Phone</label>
        <md-icon md-svg-src="img/icons/phone.svg" class="name"></md-icon>
        <input ng-model="user.phone">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Location Of Business</label>
        <md-icon md-svg-src="img/icons/address.svg" class="name"></md-icon>
        <input ng-model="user.adddr">
      </md-input-container>
      <md-input-container class="md-block">
        <div layout="row" layout-align="center center">
          <md-button class=" md-primary  md-raised  md-hue-2" aria-label="Settings">Save </md-button>
          <md-button class="md-warn md-raised ">Clear</md-button>
        </div>  
      </md-input-container>
    </md-content>

  </div>
<!--  
  <div class="container">
    <div ui-view></div>
  </div>-->


  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>-->
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->






  <script src="scripts/chaaywaay.js"></script>    
  
  </body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

